@model ApartmentModel 
@{
    ViewData["Title"] = Model.Name + " - BooKing";
}

<main>
    <header class="hero-header">
        @if (Model.Images != null && Model.Images.Count > 0)
        {
            string imgPath = "~/uploads/" + Model.Images[0].FileLocation;

            <img src="@imgPath" alt="@Model.Name" class="hero-header__image" asp-append-version="true" />
        }
        <div class="hero-header__content">
            <h1 class="page-title royal-font">@Model.Name</h1>
        </div>
    </header>

    <div class="apartment-content">
        <div class="apartment-content__info">
            <div class="apartment-content__info__location">
                @Model.LocationName
            </div>
            <div class="apartment-content__info__sleeps">
                Amount of sleeps: @Model.Sleeps
            </div>
        </div>
        <div class="apartment-content__desc">
            @Model.Description
        </div>

        @if (Model.Images != null && Model.Images.Count > 0)
        {
            <div class="apartment-content__gallery">

            </div>
        } else
        {
            <div class="apartment-content__gallery-msg">
                No images added for this apartment yet. Contact us to get information about it!
            </div>
        }
    </div>

    <vc:apartment-contact-form apartment-id="@Model.Id" />
</main>

<div class="separator"></div>